
.idea/aws.xml
.idea/modules.xml
.idea/sgpt.iml
.idea/vcs.xml
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23,_23_42_\[Changes\]/sgpt
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23,_23_42_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23,_23_42_\[Changes\]1/sgpt
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23,_23_42_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23__23_42__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_13_4_23__23_42__Changes_1.xml
.idea/workspace.xml
